.navbar {
    background-color: $color-bg !important;
    padding: 1rem 2rem;
}

/* === Marca en el header === */
.navbar .brand {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.brand__logo {
    height: 45px;
    /* tamaño ideal para navbar */
    width: auto;
    display: block;
}

.brand__text {
    font-weight: 800;
    letter-spacing: .2px;
}

/* Si querés que el texto no se vea (pero quede para SEO/accesibilidad) */
.brand__text {
    position: absolute;
    left: -9999px;
}

/* ===== Logo VasTech en navbar ===== */
.brand {
    display: flex;
    align-items: center;
}

.brand-logo {
    height: 42px;
    width: auto;
    display: block;
}



.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: 900 !important;
    color: $color-texto !important;
    text-transform: uppercase;
    gap: 20px;

    span {
        font-size: 40px !important;
        font-weight: 900 !important;
        color: $color-primario !important;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 20px;
}

.navbar .nav-link {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: $color-texto !important;
    transition: color 0.3s ease, transform 0.5s;
    padding: 0.5rem 0.75rem;
}

.navbar .nav-link:hover {
    color: $color-primario !important;
    transform: scale(1.2);
}

.navbar-toggler {
    display: none !important;
}